# OSX
.DS_Store
.AppleDouble
.LSOverride
.Spotlight-V100
.Trashes
._*

# NPM / Node
node_modules/
src/srv/lib/hx711/build
npm-debug.log
coffepot-*.tgz

# Electron
Electron.app

# Built
Coffeepot-darwin-x64/

# Photoshop
*.raw
*.psd
/bin/
/src/srv/lib/*.json
